@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 auto;
    width: 59.5% !important;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.link-animation {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #18272f;
  font-weight: 700;
  vertical-align: middle;
  font-size: 18px;
}

.link-animation::before,
.link-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.link-animation::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.link-animation::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
  font-size: 18px;
}

.link-animation:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.link-animation:hover::after {
  transform: translate3d(0, 0, 0);
}

.link-animation span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link-animation:hover span {
  transform: translate3d(-200%, 0, 0);
}

.col-one {
  background-color: #181819;
  height: 100vh;
  width: 120px !important;
}
.col-two {
  background-color: black;
  height: 100vh;
}

.col-three {
  background-color: #fefffe;
  height: 100vh;
}

.feed-button {
  margin-top: 25px;
  background: none;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.feed-button:hover {
  margin-top: 25px;
  background: #2e2e30;
  margin-left: 10px;
  border: none;
  padding: 10px;
  filter: brightness(200%);
  border-radius: 10px;
}

.feed-image {
  height: 40px;
  width: 40px;
}

.apply-button {
  margin-top: 25px;
  background: none;
  padding: 10px;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
}

.apply-button:hover {
  margin-top: 25px;
  background: #2e2e30;
  padding: 10px;
  border: none;
  margin-left: 10px;
  filter: brightness(200%);
  border-radius: 10px;
}

.apply-image {
  height: 40px;
  width: 40px;
}

.upload-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
}

.upload-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal-form-input[type="file"] {
  margin-bottom: 10px;
}

.modal-form-button[type="button"] {
  background-color: #111111;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-form-button[type="button"]:hover {
  background-color: #111111;
}

.job-card-container {
  background-color: #181819;
  margin-top: 30px;
  padding-top: 10px;
  border-radius: 17px;
  color: white;
  width: 90% !important;
  height: 12% !important ;
}

.job-card-image {
  height: 70px;
  width: 70px;
}

.job-card-job-location {
  color: #8b8a8b;
  margin-bottom: 5px;
}

.job-card-job-company {
  margin-bottom: 5px;
}

.job-card-col-one {
  width: 100px !important;
}

.render-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 30px;
}

.search-container {
  border-radius: 30px;
  background-color: #181819;
  color: #575758;
  margin-top: 20px;
  height: 12%;
  width: 80%;
}

.search-bar {
  margin-top: 9px;
  margin-left: 10px;
  width: 80%;
  background-color: #181819;
  color: #575758;
  border: none;
  font-size: 18px;
}

.search-bar:focus {
  outline: none;
}

.search-image {
  height: 28px;
  width: 28px;
  margin-left: 10px;
}

.upper-box{
  display: flex;
  flex-direction: row; 
}


.new-job-form-button{
  margin-left: 15px;
}